# 카카오 API 키 세팅
EXPO_PUBLIC_KAKAO_APP_KEY=여기에_카카오_앱_키를_입력하세요

# 네이버 API 키 세팅
EXPO_PUBLIC_NAVER_CLIENT_ID=여기에_네이버_클라이언트_아이디를_입력하세요
EXPO_PUBLIC_NAVER_CLIENT_SECRET=여기에_네이버_클라이언트_시크릿을_입력하세요

EXPO_PUBLIC_KAKAO_REST_API_KEY=여기에_카카오_리스트_에이피아이_키를_입력하세요

EXPO_PUBLIC_KAKAO_JS_KEY=여기에_카카오_제이에스_키를_입력하세요
# 포트원 스토어 ID
EXPO_PUBLIC_PORTONE_STORE_ID=

# 포트원 결제 채널 키
EXPO_PUBLIC_PORTONE_DEFAULT_KEY=
